[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true
disallow_incomplete_defs = true

[[tool.mypy.overrides]]
module = [
    'mashumaro.mixins.dict',
    'mashumaro.mixins.msgpack',
    'mashumaro.mixins.toml',
    'mashumaro.codecs.*',
]
disable_error_code = 'empty-body'

[[tool.mypy.overrides]]
module = [
    'mashumaro.core.meta.types.pack',
    'mashumaro.core.meta.types.unpack',
    'mashumaro.jsonschema.schema',
]
disable_error_code = 'return'

[tool.isort]
profile = 'black'
line_length = 79
multi_line_output = 3
include_trailing_comma = true
ensure_newline_before_comments = true

[tool.black]
line-length = 79
target-version = ['py38', 'py39', 'py310', 'py311']

[tool.ruff]
line-length = 79

[tool.coverage.run]
omit = ["setup.py"]

[tool.coverage.report]
exclude_lines = ["pragma: no cover", "@overload", "@abstractmethod"]
