mypy>=0.812
flake8>=3.8.4
isort>=5.6.4
pytest>=6.2.1
pytest-mock>=3.5.1
pytest-cov>=2.10.1
coveralls>=3.0.0
flake8-isort>=4.0.0
black>=20.8b1

# third party features
ciso8601>=2.1.3
pendulum>=2.1.2

# benchmark
termtables>=0.2.3
pytablewriter[html]>=0.58.0
matplotlib>=3.3.4
cattrs==1.8.0;python_version>='3.7'
pydantic==1.8.2
dacite==1.6.0
marshmallow==3.13.0
marshmallow_enum==1.5.1
apischema==0.17.0

# library stubs
types-backports
types-dataclasses
types-PyYAML
